<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>TODO App</title>
  <script src="https://cdn.tailwindcss.com"></script>
</head>

<body>
  <div class="w-full h-screen bg-gray-100 pt-8">
    <div class="bg-white p-3 max-w-md mx-auto">
      <div class="text-center">
        <h1 class="text-3xl font-bold">TODO App</h1>
        <div class="mt-4 flex">
          <input id="inputData" class="w-80 border-b-2 border-gray-500 text-black" type="text"
            placeholder="Enter your task here" required />
          <button id="btnAdd" onclick="insertData()"
            class="ml-2 border-2 border-green-500 p-2 text-green-500 hover:text-white hover:bg-green-500 rounded-lg flex">
            <svg class="h-6 w-6" width="24" height="24" viewBox="0 0 24 24" stroke-width="2" stroke="currentColor"
              fill="none" stroke-linecap="round" stroke-linejoin="round">
              <path stroke="none" d="M0 0h24v24H0z" />
              <circle cx="12" cy="12" r="9" />
              <line x1="9" y1="12" x2="15" y2="12" />
              <line x1="12" y1="9" x2="12" y2="15" /></svg>
            <span>Add</span>
          </button>
        </div>
      </div>
      <div class="mt-8">
        <ul id="todoList">

        </ul>
      </div>
      <div class="mt-8">
        <button onclick="deleteData()" class="border-2 border-red-500 p-2 text-red-500">Clear Completed Task</button>
      </div>
    </div>
  </div>
</body>
<script>
  const insertData = () => {
    let reqBody = {
      desc: document.getElementById("inputData").value
    }

    fetch("/todo/insert", {
        method: 'POST',
        body: JSON.stringify(reqBody)
      })
      .then((response) => response.json())
      .then((data) => {
        getData()
        document.getElementById("inputData").value = ""
      })
  }

  const updateData = (e) => {
    let reqBody = {
      id: parseInt(e.id),
      status: e.checked
    }

    fetch("/todo/update", {
        method: 'POST',
        body: JSON.stringify(reqBody),
      })
      .then((response) => response.json())
      .then((data) => getData())
  }

  const deleteData = (e) => {
    fetch("/todo/delete", {
        method: 'POST',
      })
      .then((response) => response.json())
      .then((data) => getData())
  }

  const getData = () => {
    document.getElementById("todoList").innerHTML = ''
    fetch("/todo/get")
      .then((response) => response.json())
      .then((data) => {
        if (data.length === 0) return
        data.forEach(element => {
          document.getElementById("todoList").innerHTML += `
            <li class="p-2 rounded-lg">
              <div class="flex align-middle flex-row justify-between">
                <div class="p-2">
                  <input id=${element.ID} type="checkbox" class="h-6 w-6 " onchange="updateData(this)" ${element.status ? 'checked': ''} />
                </div>
                <div class="p-2">
                  <p class="${element.status ? 'text-lg line-through text-gray-400': 'text-lg text-black'}">${element.desc}</p>
                </div>
              </div>
              <hr class="mt-2" />
            </li>
        `
        })
      })
  }

  getData()
</script>

</html>